
header {
    padding: 1px;
    border: 3px solid green;
    margin: 10px 
}
    .logo img {
        margin: 0 0.25rem 0 1rem;
        width: 30px;
        height: 10px;
        
}
h1 {
    position: absolute;
}
.article{
    position: absolute;
    background-color: aqua;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
:root {
    --heading-background-color: light-green;
    --heading-text-color: black;
    --heading-font: "Roboto", regular400;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 100;
    background-color: sandybrown;
    color: black;
    font-family: var(--heading-font);
    padding: var(--padding);
}
.hero img {
    display:block;
    width: 100%;
    height:auto;
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}