:root {
    --heading-background-color: light-green;
    --heading-text-color: black;
    --heading-font: "Roboto", regular400;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
* {
    margin: 0;
    padding: 0;
    max-width: 1000px;
}
header, footer {
    margin: 1rem auto;
    max-width: 1000px;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-bottom: 1px solid green;
}
    .logo img {
        margin: 0 1rem 0 1rem;
        width: 30px;
        height: auto;        
}
nav{
    text-align: center;
    display:flex;
    padding: 1rem;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.5rem;
    justify-content: center;
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 100;
    background-color: sandybrown;
    color: black;
    font-family: var(--heading-font);
    padding: var(--padding);
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    position:relative;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}
.hero img {
    display:block;
    width: 100%;
    height:auto;
}
.hero h1{
    position: absolute;
    top: 5%;
    left: 30%;
    color: white;
    background-color: rgb(0 0 0 / 0.3);
    padding: 15px;
    font-size: 2rem;
    z-index: 10;
}
.hero article{
    position:absolute;
    bottom: 30%;
    width: 92%;
    background-color: rgb(0 0 0 / 0.5);
    color: white;
    padding: 15px;
    z-index:10;
}
.hero article img{
    float: right;
    margin-left: 15px;
    width: 250px;
    height: auto;
    border-radius: 20px;
}
div{
    position:relative;
}
.history{
    width: 100%;
    display:inline-block;
    align-items: center;
    max-width: 1000px;
    margin: 1rem 0;
    background: lightcoral
    var(--border)lightgreen;

}
.history h2{
    margin: 1rem;
    padding: 1rem;
    position: relative;
    top: 15%;
}
.hist{
    margin: 0 1rem 2rem 1rem;
    display:flex;
    flex-wrap: nowrap;
}
.hist img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 0 0 2rem;
}
.hist p{
    display:flex;
    margin: 0 1rem 0 2rem;
}
.adventure{
    display: grid;
    justify-content: center;

    align-items: center;
    margin: 4rem 0;
    border: solid green
}
.pictures{
    display: grid;
    grid-template-columns: auto;
    flex-wrap: nowrap;
    margin: 1rem;
    width: 150px;
}
.pictures img{
    width: 320px;
    margin: 1rem;
    display:flex;
    flex-wrap: nowrap;
}
.pictures figcaption{
    margin: 1.5rem
}
.come join the fun{
    width:300px;
    margin: 1rem;
}
footer{
    border-top: 1px solid #000;
    text-align: center;
    text-decoration: none;
}
.sociallinks a{
    padding: 1rem;
    text-align: center;
}

div{
    position:relative;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}