:root {
    --heading-background-color: light-green;
    --heading-text-color: black;
    --heading-font: "Roboto", regular400;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0);          /* rgb(0 0 0 / 0.1)*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;            /*max-width: 1000px;*/
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
}
        /*Header and footer have their own maximum width*/
header, footer {
    margin: 1rem auto;
    max-width: 1000px;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border: 1px solid green;
}
    .logo img {
        margin: 0 1rem;
        width: 30px;
        height: auto;           
}                   /*Navigation*/
nav{
    display:flex;
    padding: 1rem;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.2rem;
     /*justify-content: center;      /* remove?*/
}
/*headings*/
h1 {
    font-weight: 200;
    background-color: sandybrown;
    color: black;
    /*font-family: var(--heading-font);*/
    /*padding: var(--padding);*/
}
/*Hero section*/
.hero{
    position:relative;
    width: 100%;
   /* height: auto;*/
    max-width: 1000px;
    margin: 0 auto;
}
.hero img {
    display:block;
    width: 100%;
    height:auto;
}
.hero h1{
    position: absolute;
    top: 5%;
    left: 30%;
    color: black;
    padding: 15px;
    font-size: 2rem;
}
.hero article{
    position:absolute;
    bottom: 35%;
    width: 92%;
    color: black;
    padding: 15px;
    font-size: 1.2rem;
}
.hero article img{
    float: right;
    margin-left: 15px;
    width: 250px;
    height: auto;
    border-radius: 35px;
}
 /*div{
    position:relative;*/
        /*History section*/
.history{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;  /*fixed syntax*/
    border-bottom: solid green;

}

.history h2{
    margin: 0;
    padding: 1rem;
    position: relative;
    text-align: center;
    top: 15%;
} 
/*The history container*/
.hist{
    margin: 0 1rem 2rem 1rem;
    display:flex;
    flex-wrap: nowrap;
}
.hist img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 0 0 2rem;
}
.hist p{
    display: flex;
    text-align: center;
    margin: 0 1rem 0 2rem;
}
/*Adventure section wrapper*/
/*.adventure{
    display: grid;
    justify-content: center;

    align-items: center;
    margin: 4rem 0;
    border: solid green
}*/
.adventure{
    display: block;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid green;

}
.adventure h2{
    text-align: center;
}
/*.pictures{
    display: grid;
    grid-template-columns: auto;
    flex-wrap: nowrap;
    margin: 1rem;
    width: 150px;
}*/
.pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1000px;
    margin: 1rem auto;
    text-align: center;
}
.pictures img{
    width: auto;
    height: 100px;
    display: block;
}
.pictures figcaption{
    margin: 0.5rem
}
.come join the fun{
    width:300px;
    margin: 1rem;
}
footer{
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.sociallinks a{
    padding: 1rem 0;
    text-align: center;
}
footer a{
    margin: 0 0.5rem;
}
/*div{
    position:relative;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}*/