
header {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
    border: 2px solid green;
    max-width: 1000px;
}
    .logo img {
        margin: 0 0.25rem 0 1rem;
        width: 30px;
        height: auto;        
}
.navigation{
    display:flex;;
    padding: 10px;
}
.navigation a{
    display: grid;
    color: black;
    padding: 10px;
    font-size: 1.2rem;
}
:root {
    --heading-background-color: light-green;
    --heading-text-color: black;
    --heading-font: "Roboto", regular400;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 100;
    background-color: sandybrown;
    color: black;
    font-family: var(--heading-font);
    padding: var(--padding);
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    position:relative;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}
.hero img {
    display:block;
    width: 100%;
    height:auto;
}
.hero h1{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    background-color: rgb(0 0 0 / 0.6);
    padding: 15px;
    font-size: 2rem;
    z-index: 10;
}
.hero article{
    position:absolute;
    bottom: 30%;
    width: 95%;
    background-color: rgb(0 0 0 / 0.5);
    color: white;
    padding: 15px;
    z-index:10;
}
.hero article img{
    float: right;
    margin-left: 10px;
    width: 100px;
    height: auto;
    border-radius: 5px;
}
.adventures{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.adventures figure{
    flex: 1;
    margin: 10px;
}
.adventures img{
    width: 100%;
    height: auto;
}
div{
    position:relative;
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}