:root {
    --heading-background-color: light-green;
    --heading-text-color: black;
    --heading-font: "Roboto", regular400;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0);          /* rgb(0 0 0 / 0.1)*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;            /*max-width: 1000px;*/
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
}
        /*Header and footer have their own maximum width*/
header, footer {
    margin: 1rem auto;
    max-width: 1000px;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border: 1px solid green;
}
    .logo img {
        margin: 0 1rem;
        width: 30px;
        height: auto;           
}                   /*Navigation*/
nav{
    display:flex;
    padding: 1rem;
    text-align: center;
    justify-content: flex-end;        /*center;*/
}
nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.2rem;
    justify-content: center;      /* remove?*/
}
/*headings*/
main{
  max-width: 1000px;
  margin: 2rem auto;
  font-family: Roboto, sans-serif;  
}
h1 {
    font-weight: 100;
    background-color: sandybrown;
    color: black;
    /*font-family: var(--heading-font);*/
    /*padding: var(--padding);*/
}
/*Hero section*/
.hero, .contact{
    position:relative;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}
.hero img, .contact img{
    display:block;
    width: 100%;
    height:auto;
}
.info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    padding: 4rem;
    text-align: center;
}
.map{
    display:grid;
    place-items: center;
    margin: 1rem 0;
}
.hero h1{
    position: absolute;
    top: 5%;
    left: 30%;
    color: black;
    padding: 15px;
    font-size: 1.5rem;
    z-index: 10;
}
.hero article{
    position: relative;
    bottom: 35%;
    width: 92%;
    color: black;
    padding: 15px;
    font-size: 1.2rem;
}
.hero article img{
    float: right;
    margin-left: 15px;
    width: 250px;
    height: auto;
    border-radius: 35px;
}
div{
    position: relative;
}
        /*History section*/
.history{
    display: block;
    max-width: 1000px;
    margin: 1rem auto;
    place-items:center;
    padding: 1rem;
    background-color: whitesmoke;  /*fixed syntax*/
    border: solid green;

}

.history h2{
    margin: 1rem 0;
    padding: 1rem;
    /*position: relative;*/
    /*text-align: center;*/
    margin-top: 2%;
} 
/*The history container*/
.hist, .info{
    margin: 0 1rem 1rem 1rem;
    display:flex;
    flex-wrap: nowrap;
}
.history img, map{
    display: block;
    width: 300px;           /*30%;*/
    height: auto;
    margin: 0 0 0 2rem;
}
.history p{
    display: flex;
    text-align: center;
    margin: 0 1rem 0 2rem;
}
/*.adventure{
    display: grid;
    justify-content: center;

    align-items: center;
    margin: 4rem 0;
    border: solid green
}*/
.box{
    max-width: 800px;
    margin: 4rem auto;
    background-color: #e1951b;
    position: absolute;
}
.box img, .trip1 img, .trip1-choice img{
width: 200px;
height: auto;
float: right;
margin: 1rem 1rem 1rem 1rem;
}
.trip1-choice img{
    width: 400px;
}
.box p, .trip1 p{
    margin: 1rem 1rem 1rem 1rem;
}
.adventure, .employees{
    display: block;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid green;

}
.adventuresh{
    display: grid;
    place-items: center;
    margin: 4rem 0;
    border: green;
}
.adventure h2{
    text-align: center;
}
/*.pictures{
    display: grid;
    grid-template-columns: auto;
    flex-wrap: nowrap;
    margin: 1rem;
    width: 150px;
}*/
.pictures, picturesh{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1000px;
    margin: 1rem auto;
    text-align: center;
}
.pictures img{
    width: auto;
    height: 100px;
    display: block;
}
.picturesh img{
    width: 200px;
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
}
.pictures figcaption{
    margin: 0.5rem
}
.employees img{
    width: 300px;
    margin: 1rem;
}
form{
    width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/0.1);
    border-radius: 0.5rem;
    background-color: beige;
    display: grid;
}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
}
legend{
    padding: 0.5rem;
    color: #000;
    font-size: 1.3em;
}
label, input, button, select, textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button{
    margin: 1rem;
    background-color:green;
    color: black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.5rem;
}
button:hover{
    background-color: green;
}
table, th, td{
    border: 1px solid black;
    padding: 1rem;
    margin:1rem auto;
    background-color: #e1951b;
}
.come join the fun{
    width:300px;
    margin: 1rem;
}
.trip1{
    position:relative;
    width: 30rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
.action{
    padding: 1rem;
    text-align: center;
}
.trips{
    margin: 2rem;
}
.book{
    background-color: #3f6e98 ;
    text-align: center;
}
.newsletter h2{
    text-align: center;
    padding: 2rem;
    background-color: #3f6e98;
}
footer{
    border: 1px solid #000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.sociallinks a{
    padding: 1rem;
    text-align: center;
}
footer a{
    margin: 0;
}

/*div{
    position:relative;
    margin: 1rem;
    border: 1px;
    padding: 1rem;
}
aside {
    margin: 10px auto;
    padding: var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}*/