nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white; /* #fff short hand for white*/
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
} 
h1 {
    color: darkblue;
}
.grid{
    display: grid;
    align-items: center;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
    grid-column: 2/3;
    align-items: center;
    
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
